#meet{ data: { href: p_meet_url(@meet), refresh_rate: 50 } }

  .page-header
    %h5= @meet.name

  %ul.nav.nav-stacked.clearfix
    %li.pull-right
    - admin_mute = false

    - @meet.users.each do |user|

      - if user.admin and  user.mute_status
        - admin_mute = true

      - if user.phone_object.present?
        - user.phone_object.key_maps.each do |key_map|
          - if key_map.name.present? and key_map.participate
            %li.mt10.mb10.mr10.pull-left
              - if key_map.participate == 'cancel'
                %label.line-through.fts16
                  = image_tag('hand-x.png', width: 30, height: 30)
                  = key_map.name
              - else
                %label.fts16
                  = image_tag('hand.png', width: 30, height: 30)
                  = key_map.name

  - if admin_mute
    .row
      .col-xs-12.col-sm-6.alert.alert-warning
        %b
          Jesteś wyciszony w transmisji.
          %br
          Poczekaj, aż ten komunikat zniknie.