#meet{ data: { href: meet_url(current_meet) } }
  - if current_meet.users.any?

    .page-header
      %h3
        = current_meet.name
        = link_to 'Rozłącz Wszystkich', kick_all_meet_path(current_meet), class: 'btn btn-xs btn-danger pull-right safe-delete', data: { delete_text_info: 'Potwierdź zakończenie transmisji.', confirm_remote: true }

    - current_meet.users.each do |user|
      .well.clearfix
        %b= user.name

        = link_to 'Rozłącz', kick_phone_path(meet_id: current_meet, id: user.identifier_in_conf), class: 'btn btn-xs btn-danger pull-right safe-delete ml40', data: { delete_text_info: "Potwierdź rozłączenie: #{user.name}", confirm_remote: true }

        - if user.mute_status
          = image_tag('mute-icon.png', width: 40, height: 40)
          = link_to 'Aktywuj', unmute_phone_path(meet_id: current_meet, id: user.identifier_in_conf), class: 'btn btn-xs btn-success pull-right mic-set'
        - else
          = image_tag('sound-icon.png', width: 40, height: 40)
          = link_to 'Wycisz', mute_phone_path(meet_id: current_meet, id: user.identifier_in_conf), class: 'btn btn-xs btn-warning pull-right mic-set'

        - if user.phone_object.present?
          - user.phone_object.key_maps.each do |key_map|
            - if key_map.name.present? and key_map.participate

              - if key_map.participate == 'cancel'
                %label.line-through.ml25
                  = image_tag('hand-x.png', width: 20, height: 20)
                  = key_map.name
              - else
                %label.ml25
                  = image_tag('hand.png', width: 20, height: 20)
                  = key_map.name

  - else
    .page-header
      %h1
        = current_meet.name
        %br
        %small nikt jeszcze nie dołączył