#meet{ data: { href: meet_url(@meet) } }
  - if @meet.users.any?

    .page-header
      %h1= @meet.name

    - @meet.users.each do |user|
      .well.clearfix
        %b= user.name
        - if user.mute_status
          = image_tag('mute-icon.png', width: 40, height: 40)
          = link_to 'Aktywuj', unmute_meet_user_path(meet_id: @meet.identifier, id: user.identifier_in_conf), class: 'btn btn-xs btn-success pull-right mic-set'
        - else
          = image_tag('sound-icon.png', width: 40, height: 40)
          = link_to 'Wycisz', mute_meet_user_path(meet_id: @meet.identifier, id: user.identifier_in_conf), class: 'btn btn-warning pull-right mic-set'
        - if user.participate
          - if user.participate == 'cancel'
            = image_tag('hand-x.png', width: 40, height: 40)
          - else
            = image_tag('hand.png', width: 40, height: 40)

  - else
    .page-header
      %h1
        = @meet.name
        %small nikt jeszcze nie dołączył