#meet{ data: { href: meet_url(@meet) } }
  - if @meet.users.any?

    .page-header
      %h1= @meet.name

    - @meet.users.each do |user|
      .well
        = user.name
        - if user.mute_status
          .label.label-danger Wyciszony
          = link_to 'Aktywuj', unmute_meet_user_path(meet_id: @meet.identifier, id: user.identifier_in_conf), class: 'btn btn-xs btn-primary pull-right mic-set'
        - else
          .label.label-success Aktywny
          = link_to 'Wycisz', mute_meet_user_path(meet_id: @meet.identifier, id: user.identifier_in_conf), class: 'btn btn-xs btn-primary pull-right mic-set'

  - else
    .page-header
      %h1
        = @meet.name
        %small nikt jeszcze nie dołączył